
body{
	font: 125%/1.5 "Lucida Grande", Verdana, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
	background:); 
	background-attachment: scroll;
	 background: linear-gradient(to top, #a18f00 0%);

}


header{
	width: 100%;
	margin: 20px auto 0 auto;
	height: 100px;
}
h1{
	margin: 50px;
	text-align: center;
}




.parallax-window {
    min-height: 400px;
    background: transparent;
}

.parallax-window1 {
    min-height: 600px;
    background: transparent;
}
.nav {
top:0px !important;
position: fixed;
width: 100%;
height: 45px;
background: rgba(250, 235, 215, 0.6);
marging:0;
}
li {
list-style: none;
float: left;
padding-right:10px;
margin-top: -15px;
}
a {
	    
    display:block;
    padding:0 30px;
    color:black;
    font-size:20px;
    line-height: 50px;
    text-decoration: none;
}
a:hover{
    color: #a8bdff;
}
#main{
	color: black;
}


a {
  
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
}
a:hover, a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #6195FF;
}
#footer {
    position: relative;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #1C1D21
}

.footer-follow {
    text-align: center;
    margin-bottom: 20px;
}
.footer-follow li {
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 13px;
}

.footer-follow li a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  align-content: center;
  border-radius: 3px;
 background: rgba(250, 235, 215, 0.6);
  color:#FFF;
}

.footer-copyright p {
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
  color:#868F9B;
}


